<div id="productList">
    <div class="container">
        <div class="row ">
            <div class="col-12 ">
                <app-search (searchTextChanged)="setSearchText($event)"></app-search>
            </div>
            <app-filter [all]="totalProd" [inStock]="rating3"
                (SelectedFilterradiButtonChanged)="changeFilter($event)"></app-filter>
        </div>
        <div id="productList">
            <div class="row">
                <ng-container *ngFor="let data of products">
                    <div class="col-md-3"
                        *ngIf="(selectedRadioButton==='all' || data.rating.rate>=selectedRadioButton) && data.title.toLowerCase().includes(searchtext)">
                        <div class="card" appHighlight (click)="showDetails(data)" (click)="selectedProduct=data" data-toggle="modal"
                            data-target="#productDetailsModal">
                            <img class="card-img-top center" src={{data.image}} alt="Card image cap"
                                id="productListImg">
                            <div class="card-body ">
                                <h5 class="card-title">{{data.title}}</h5>
                                <p class="card-text">{{data.category}}</p>
                                <p class="card-text">{{data.price}}</p>
                                <p class="card-text" [ngStyle]="{color:data.rating.rate>=3?'Green':'Red'}">
                                    {{data.rating.rate}}</p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="modal fade" id="productDetailsModal" tabindex="-1" role="dialog"
     aria-labelledby="productDetailsModalLabel" aria-hidden="true" *ngIf="showDetailsdiv">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="productDetailsModalLabel">{{selectedProduct.title}}</h5>
                <button type="button" class="close float-end" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" [src]="selectedProduct.image" alt="{{selectedProduct.title}}">
                    </div>
                    <div class="col-md-7">
                        <p><strong >Category:</strong> {{selectedProduct.category}}</p>
                        <p><strong>Price:</strong> {{selectedProduct.price}}</p>
                        <p><strong>Rating:</strong> <span
                                [ngStyle]="{color: selectedProduct.rating.rate>=3?'Green':'Red'}">{{selectedProduct.rating.rate}}</span>
                        </p>
                        <!-- Add more details as needed -->
                        <div class=" mt-5">
                            <button setbackground class="btn p-2">Buy Now</button>
                            <button setbackground class="btn p-2 m-2">Add to Cart</button>
                        </div>
                    </div>                    
                </div> 
            </div>
        </div>
    </div>
</div>


    </div>

</div>
<!-- bind-value -> style of Property Binding -->